################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PresentationTier/NETCoreTemplate.AngularUI/bin
/PresentationTier/NETCoreTemplate.AngularUI/obj
/DataTier/NETCoreTemplate.Database/bin
/DataTier/NETCoreTemplate.Database/obj
